input,
textarea {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

input {
  color: #6b778c;
  border: 0;
  min-height: 18px;
  width: 100%;
}

textarea {
  color: #091e42;
  border: 0;
  height: 90px;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 375px;
  width: 100%;
  margin: 24px auto;
  background-image: url("../images/illustration-contact-mobile.svg");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 327px;
  width: 100%;
  padding: 0 24px;
}

.contact-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 327px;
}

.contact-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
  transition: background 0.8s ease-in-out, color 0.8s ease-in-out;
}

.contact-button:hover {
  background: green;
  color: yellow;
  animation-duration: 3s;
  animation-name: zoomin;
  animation-iteration-count: infinite;
}

@keyframes zoomin {
  from {
    font-size: 17px;
  }

  to {
    font-size: 27px;
  }
}

fieldset {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 24px;
}

.contact-text {
  display: flex;
  flex-direction: row;
  min-width: 327px;
  margin: 0;
  color: #172b4d;
}

.contact-form {
  display: flex;
  flex-direction: column;
  min-width: 327px;
  margin-top: 34px;
  padding: 0;
}

.contact-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 17px;
  margin-bottom: 0;
  width: 327px;
  height: 189px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.home-indicator {
  width: 134px;
  height: 5px;
  margin: 134px auto 8px auto;
  background: #0d151e;
  border-radius: 10px;
}

.bottom-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -6px;
}

@media (min-width: 768px) {
  .contact {
    margin-top: 84px;
    max-width: 1440px;
    width: 100%;
    padding: 0;
    background-image: url("../images/illustration-contact-desktop.svg");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .contact-container {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1171px;
    margin: 80px auto;
  }

  .contact-action {
    justify-content: flex-start;
  }

  .contact-email {
    display: none;
  }

  .contact-form {
    min-width: 350px;
    max-width: 684px;
    width: 55%;
    margin-top: 0;
  }

  .contact-text {
    max-width: 463px;
    font-size: 30px;
    align-items: center;
  }

  .bottom-navigation {
    margin-top: 145px;
  }

  .home-indicator {
    display: none;
  }
}
