html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.green {
  color: #36b37f;
}

.dark {
  color: #172b4d;
}

.neutral-1 {
  color: #28352f;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 0;
}

.regular {
  font-weight: 400;
}

.subhead-1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 0;
  width: 375px;
  height: 48px;
  margin: 44px 0 0 0;
}

.normal-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  order: 1;
}

.icon {
  position: static;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
}

.logo-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 114px;
  height: 48px;
  order: 0;
}

.logo-text {
  position: static;
  width: 90px;
  height: 28px;
  left: 12px;
  top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.headline {
  display: flex;
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: center;
  padding: 64px 24px 0 24px;
  width: 375px;
  height: 655px;
  background-image: url("../images/header-illustration-mobile.svg");
  background-repeat: no-repeat;
  text-align: center;
}

.primary {
  width: 327px;
  height: 192px;
  order: 0;
}

.supporting-text {
  width: 327px;
  height: 164px;
  margin: 58px 0 0 0;
}

.social-media {
  width: 170.17px;
  height: 20px;
  margin: 50px 0 0 0;
}

.social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-media li {
  flex: 5;
}

.action {
  width: 327px;
  height: 48px;
  margin: 58px 0 0 0;
  order: 3;
}
